.navbar {
  bottom: 0;
  height: 4em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.navbar-item {
  display: inline-block;
  margin: 0 0.5em;
  padding: 1em;
  width: 5em;
}

.navbar-item-link {
  color: #a8bce4;
  font-size: 1.3em;
  text-decoration: none;
  transition: 0.3s all ease;
  width: 5em;

  &:hover {
    color: #ff5900;
  }
}
