.book-item {
  border-bottom: 1px #808080 dashed;
  list-style: none;
  margin: 2em 1em;
  padding: 1em;
}

.book-item-thumbnail {
  float: left;
  width: 10em;

  img {
    width: 7em;
  }
}

// .book-item-details {
//   padding: 1em;
// }

.book-item-title {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  width: 100%;
}

.book-item-description {
  font-size: 0.9em;
  font-style: italic;
  text-align: justify;
  width: 100%;
}

.book-item-clear {
  clear: both;
}

@media screen and (max-width: 500px) {
  .book-item {
    list-style: none;
    margin: 5em 1em;

    &:first-of-type {
      margin: 0 1em 5em;
    }
  }

  .book-item-thumbnail {
    float: none;
    text-align: center;
    width: 100%;
  }

  .book-item-title {
    margin-top: 0.5em;
    text-align: center;
  }
}
