html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #cde2ec;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin: 0 0 6em;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 1em 1em;
}

h1 {
  margin: 1.5em 1em;
}
