.header-wrapper {
  text-align: center;
  width: 100%;
}

.header {
  background-color: #000;
  box-shadow: 0 0 0.8em 1.2em #000;
  display: inline-block;
  height: 20em;
  position: relative;
  width: 80%;
}

.header-logo {
  animation: rotation 5s infinite linear;
  margin-top: 5em;
  width: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
