@font-face {
  font-family: 'GelPenHeavy';
  font-style: normal;
  font-weight: normal;
  src: url('./_assets/font/gelpen/GelPenHeavy.eot');
  src: url('./_assets/font/gelpen/GelPenHeavy.woff2') format('woff2'),
    url('./_assets/font/gelpen/GelPenHeavy.woff') format('woff'),
    url('./_assets/font/gelpen/GelPenHeavy.ttf') format('truetype'),
    url('./_assets/font/gelpen/GelPenHeavy.svg#GelPenHeavy') format('svg'),
    url('./_assets/font/gelpen/GelPenHeavy.eot?#iefix')
    format('embedded-opentype');
}

.footer {
  background-color: #000;
  bottom: 0;
  box-shadow: 0 0 0.8em 1.2em #000;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-top: 1.2em;
  min-height: 4em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer-paragraph {
  display: inline-block;
}

.footer-text-handwritten {
  color: #0f0;
  font-family: GelPenHeavy, Arial, Helvetica, sans-serif;
  margin: 0 0.5em;
}

.footer-link-logo {
  margin: 0 1em;
  max-height: 2.5em;
  vertical-align: middle;
}
